@import "./shared/scss/colours.scss";
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  z-index: 1000;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 20px;
  outline: none;
  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 500rem;
    margin: 0 0 0 -1.14285714rem;
    border: 0.2em solid rgba(0, 0, 0, 0.1);
    outline: none;
  }
  &:after {
    position: absolute;
    content: "";
    top: 0%;
    left: 50%;
    width: 2.6rem;
    height: 2.6rem;
    -webkit-animation: loader 0.9s linear;
    animation: loader 0.9s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 500rem;
    margin: 0 0 0 -1.14285714rem;
    border-color: $red transparent transparent;
    border-style: solid;
    border-width: 0.2em;
    outline: none;
    box-shadow: 0px 0px 0px 1px transparent;
  }

  &.small {
    &:before,
    &:after {
      width: 1.8rem;
      height: 1.8rem;
      top: 25%;
    }
  }
  /* Active Animation */
  @-webkit-keyframes loader {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  &.text {
    text-align: center;
    min-width: 2.28571429rem;
    padding-top: 3.07142857rem;
    width: auto !important;
    height: auto !important;
    font-style: normal;
  }
  &.inverse {
    color: #fff;
    &:before {
      border-color: #fff;
    }
  }
}
