@import "shared/scss/colours.scss";

.NewsItem-wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lighten($font-color, 65%);
  margin-bottom: 30px;

  &:last-child {
    border-bottom: none;
  }
}

.NewsItem-header {
  font-size: 24px;
  line-height: 32px;
  padding-right: 50px;
  margin-bottom: 10px;
}

.NewsItem-category {
  font-size: 24px;
  color: $red;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 2px solid $red;
}

.NewsItem-image {
  margin-right: 50px;
  position: relative;
  &:before {
    content: '';
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 4px;
    opacity: 0;
    background-color: $font-color;
    z-index: 999;
    padding-right: 50px;
  }
  &:hover {
    &:before {
      -webkit-transition: 0.5s all ease;
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 0.3;
    }
  }
  &:focus {
    &:before {
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }
  }

  img {
    width: 100%;
    max-width: 100%;
  }
}

.NewsItem-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.NewsItem-content {
  line-height: 24px;
  padding-right: 50px;
  padding-bottom: 40px;

  &.no-content {
    position: relative;
    top: -42px;
    left: 70px;
  }

}

.NewsItem-social {
  color: lighten($font-color, 50%);
  cursor: pointer;
}

.NewsItem-more {
  flex-wrap: wrap;
  line-height: 24px;
  color: $red;
  cursor: pointer;
  &:before {
    position: relative;
    top: 2px;
  }
}