@import "shared/scss/colours.scss";

.NewsFooter-wrapper {
  text-align: center;
}

.NewsFooter-top {
  background-color: $red;
  padding: 50px;
  color: #fff;
}

.NewsFooter-top-header {
  font-weight: bold;
  font-size: 38px;
  color: #fff;
  margin-bottom: 50px;
}

.NewsFooter-top-items {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.NewsFooter-top-item {
  flex: 1;
  padding: 20px;
  .header {
    font-size: 38px;
    sup {
      font-size: 36px;
    }
  }
}

.NewsFooter-bottom {
  background-color: #ffffff;
  padding-bottom: 70px;
  padding-left:50px;
  padding-right:50px;

  .sign {
    margin-top: 50px;
    &:before {
      font-size: 64px;
      color: $red;
    }
  }
  .highlight {
    font-size: 24px;
    margin-top: 20px;
    line-height: 36px;
  }
  .download-btn {
    background-color: $red;
    color:#fff;
    width:200px;
    text-align:center;
    height:64px;
    margin-top: 50px;
    border-radius: 35px;
  }
}
