@import "shared/scss/colours.scss";

.App-wrapper {
  width: 600px;
  margin: 0 auto;
}

.App {
  border-radius: 3px;
  box-shadow: 1px 1px 10px 2px #dddddd;
  min-height: 100vh;
  padding-top: 40px;
}

.App-content {
  padding-left: 50px;
  min-height: 60vh;
}

.App-header h1 {
  color: #000;
  padding-left: 50px;
}

.App-date {
  margin-bottom: 15px;
  padding-left: 50px;
  color: lighten($font-color, 50%)
}

.App-title {
  font-size: 1.5em;
}

.App-social {
  color: lighten($font-color, 35%);

  .header {
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 20px;

  }
  .icons {
    display: flex;
    justify-content: center;
    > div {
      border: 1px solid lighten($font-color, 35%);
      height: 50px;
      width: 50px;
      line-height: 50px;
      margin: 10px;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      &:before {
        margin-left: 0;
      }
    }
  }
}

.App-outer {
  text-align: center;
  padding: 25px 50px;
  color: lighten($font-color, 35%);
  a {
    color: $red;
    text-decoration: none;
  }
}

//Responsive
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .App-wrapper {
    width: 320px;
  }
}
