@import "~normalize.css/normalize.css";
@import "shared/scss/colours.scss";

@font-face {
  font-family: 'Bariol';
  src: url('./assets/fonts/Bariol-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bariol';
  src: url('./assets/fonts/Bariol-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Flaticon";
  src: url("./assets/fonts/Flaticon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon-youtube-logo:before { content: "\f100"; }
.flaticon-google-plus:before { content: "\f101"; }
.flaticon-left-quotes-sign:before { content: "\f102"; }
.flaticon-twitter:before { content: "\f103"; }
.flaticon-facebook:before { content: "\f104"; }
.flaticon-right-arrow:before { content: "\f105"; }

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Bariol', sans-serif;
  font-size: 1rem;
  color: $font-color;
}
